<p style="color: green"><%= notice %></p>

<h1>Zombies</h1>

<div id="zombies">
  <% @zombies.each do |zombie| %>
    <tr>
      <td><%= render zombie %></td>
      <td><Strong>Rank: </strong><%= zombie.roles.find_by(title: @title).title %></td>
      <br>

      <br>
      <td><strong>Brain Flavor:</strong> <%= zombie.brain.flavor %></td>
    </tr>

    <p>
      <%= link_to "Show this zombie", zombie %>
    </p>
  <% end %>
</div>

<%= link_to "New zombie", new_zombie_path %>
