<p style="color: green"><%= notice %></p>

<%= render @zombie %>

<div>
  <%= link_to "Edit this zombie", edit_zombie_path(@zombie) %> |
  <%= link_to "Back to zombies", zombies_path %>

  <%= button_to "Destroy this zombie", @zombie, method: :delete %>
</div>
